@import "tailwindcss";

:root {
  /* Primary Colors */
  --color-primary: #c9ab4c;
  --color-secondary: #141414;
  --color-tertiary: #e05262;
  --color-neutral: #0a0a0b;

  /* Background & Foreground */
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #c9ab4c;
  --color-secondary: #141414;
  --color-tertiary: #e05262;
  --color-neutral: #0a0a0b;
  --color-on-surface: #171717;
  --color-on-primary: #ffffff;
  --color-on-surface-variant: #353436;

  --font-headline: "Noto Serif";
  --font-body: "Work Sans";
  --font-label: "Space Grotesk";
}
